services:
  api:
    build: ./backend
    container_name: drone-tax-backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: drone-tax-frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - api
    restart: always